.form-required-on-publish::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3.5px 7px 3.5px;
  background-color: lightblue;
  border-color: transparent transparent blue transparent;
  background: transparent;
  margin: 0 0.3em;
  vertical-align: super;
  display: inline-block;
}

.field-config-edit-form .form-item-warn-on-empty {
  margin-left: 15px;
}
